<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('template/head') %>
</head>
<body>
  <%- include('template/back_navbar') %>
  <section class="wrapper free-prize login">
    <div class="free-prize-content">
      <div class="free-prize-content-notice">
        <h2>新增獎項</h2>
        <% if (errorMessage && errorMessage.length > 0) { %>
          <div class="alert alert-danger" role="alert">
            <%= errorMessage %>
          </div>
        <% } %>
        <form action="/add-prizes" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">獎項名稱</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="title">
          </div>   
          <div class="form-group">
            <label for="exampleInput">獎項內容</label>
            <input type="text" class="form-control" id="exampleInput" name="content">
          </div>
          <div class="form-group">
            <label for="exampleInput1">圖片網址</label>
            <input type="text" class="form-control" id="exampleInput1" name="url">
          </div>
          <div class="form-group">
            <label for="exampleInput2">獎項機率</label>
            <input type="number" min="0" max="100" class="form-control" id="exampleInput2" name="probability">
          </div>
          <button type="submit" class="btn btn-primary">新增</button>
        </form>
      </div>
    </div>
  </section>
  <%- include('template/footer') %>
</body>
</html>