<nav class="navbar">
  <div class="wrapper">
    <div class="navbar__site-name">
      <a href="#">Just A Bite!</a>
    </div>
    <% if (!username) { %>
      <ul class="navbar__list">
        <li><a href="/login">登入</a></li>
      </ul>  
    <% } else { %>
      <ul class="navbar__list">
        <li><a href="/">抽個大獎</a></li>
        <li><a href="/admin">抽獎後台</a></li>
        <li><a href="#">查詢訂單</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    <% } %>
  </div>
</nav>