<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('template/head') %>
</head>
<body>
  <%- include('template/back_navbar') %>
  <section class="banner">
    <div class="banner__wrapper">
      <h1>新增分類區</h1>
      <div>Welcome to my blog</div>
    </div>
  </section>
  <div class="container-wrapper">
    <div class="container">
      <div class="edit-post">
        <form action="add_categories" method="POST">
          <div class="edit-post__title">
            新增分類：
          </div>
          <div class="edit-post__input-wrapper">
            <input class="edit-post__input" name="name" placeholder="請輸入分類"/>
          </div>
          <div class="edit-post__btn-wrapper">
            <input class="edit-post__btn" type="submit" value="送出">
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer>Copyright © 2020 Miaohsien's Blog All Rights Reserved.</footer>
</body>
</html>